.App{
  margin: auto 10rem ;
}
.tile{
  border: 2px solid black;
  border-radius: 3px;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
}
.tile .title-desc{
  margin-left: 10rem;
}
div img{
  height: 200px;
  width: 200px;
}